* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  display: flex;
  width: 960px;
  margin: 50px auto;
}

.course-box {
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  background-color: #eeeeee;
  position: relative;
}

.number {
  top: 0;
  left: 0;
  position: absolute;
  color: #ffffff;
  background-color: #ff9a4b;

}

.course-image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;

}

.course-image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;

}

.course-image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;

}

.course-heading {
  margin: 15px 0 5px;

}


footer {
  height: 50px;
  background-color: #aaaaaa;
}


@media screen and (max-width: 768px) {
  header {
    width: 100%;
    margin-bottom: 50px;
  }

  main {
    width: 90%;
    display: block;
    margin: 50px auto;

  }

  .course-box {
    width: 100%;
    margin-bottom: 20px;

  }

  .course-image1 {
    width: 100%;
    background-position: bottom;
    background-size: cover;
  }

  .course-image2 {
    width: 100%;
    background-position: bottom;
    background-size: cover;
  }

  .course-image3 {
    width: 100%;
    background-position: bottom;
    background-size: cover;
  }

}